@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote p {
  @apply text-gray-500 text-lg !important;
}

pre code {
  @apply rounded-none bg-transparent font-normal py-0 px-0 !important;
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  content: attr(line);

  @apply text-gray-400;
}
